    <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #0b2345" id="nav_modifier">
      <a class="navbar-brand mb-0 h1" href="/"><i class="fas fa-paw"></i>DOGGY.<span>com<span></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <% if user_signed_in? %>
        <ul class="navbar-nav ">
          <%if current_user.avatar.attached?%>
          <li class="nav-item">
            <%= image_tag current_user.avatar.variant(combine_options:{resize:"30x30^",crop:"30x30+0+0",gravity: :center}).processed, class: "avatar-large", id: "media_hide"%>
          </li>
          <%end%>
          <li class="nav-item">
            <a class="nav-link" href="/users/<%=current_user.id%>"><%=current_user.name%>さん <span
                class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="media_min_hide" data-toggle="modal" data-target="#myModalMedia">投稿する</a>
          </li>
          <li class="nav-item">
            <%= link_to "みんなの投稿", posts_path, class: "nav-link", id: "media_min_hide"%>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_user_session_path, class: "nav-link", method: :delete%>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="#">ガイド</a>
          </li>
        </ul>
        <% else %>
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link" href="/users/sign_up">新規会員登録 <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/sign_in">ログイン</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="#">ガイド</a>
          </li>
        </ul>
        <%end%>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
        <a class="nav-link logs" href="#" id="media_hide"><img class="log" src="/images/f_log.png"></a>
        <a class="nav-link logs" href="#" id="media_hide"><img class="log" src="/images/inst_log2.png"></a>
      </div>
    </nav>

    <div class="modal fade" id="myModalMedia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">新規投稿する</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <%=form_for @post do |f|%>
          <div class="modal-body">
            <%=f.text_area :text, rows: "8", placeholder: "テキスト"%>
            <div>
              <%=f.text_field :tag_list, placeholder: "タグを追加", "data-role" => "tagsinput"%>
            </div>
            <div class="posted_images">
            </div>
            <div class="post__form-image">
              <button type="button" class="btn btn-light" id="image_post_media">画像を追加</button>
              <%= f.file_field :images ,class: "hide", id: "image_post_input_media", multiple: true%>
              <button type="button" class="btn btn-light">MyDoggyを選択</button>
            </div>
          </div>
          <div class="modal-footer">
            <%= f.submit "投稿する", class: "btn btn-primary"%>
          </div>
          <%end%>
        </div>
      </div>
    </div>



    <div class="header_second" style="background-color: #0b2345" id="media_hide">
      <ul class="nav list_nav">
        <li class="nav-item">
          <a class="nav-link newdogg" data-toggle="modal" data-target="#myModal">投稿する</a>
        </li>
        <li class="nav-item">

          <%=link_to "みんなの投稿", posts_path, class: "nav-link", id: "dog_list"%>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id="pick_up" data-fader="1">pick up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link hide" href="#" id="shop" data-fader="2">shop</a>
        </li>
      </ul>
      <%unless user_signed_in?%>
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">ユーザー登録でDoggy.comをもっと便利に</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>新規投稿にはログインが必要です</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" onclick="location.href='/users/sign_in'">ログイン</button>
              <button type="button" class="btn btn-primary" onclick="location.href='/users/sign_up'">新規登録</button>
            </div>
          </div>
        </div>
      </div>
      <%else%>
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">新規投稿する</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <%=form_for @post do |f|%>
            <div class="modal-body">
              <%=f.text_area :text, rows: "8", placeholder: "テキスト"%>
              <div>
                <%=f.text_field :tag_list, placeholder: "タグを追加", "data-role" => "tagsinput"%>
              </div>
              <div class="posted_images">
              </div>
              <div class="post__form-image">
                <button type="button" class="btn btn-light" id="image_post">画像を追加</button>
                <%= f.file_field :images ,class: "hide", id: "image_post_input", multiple: true%>
                <button type="button" class="btn btn-light">MyDoggyを選択</button>
              </div>

            </div>
            <div class="modal-footer">
              <%= f.submit "投稿する", class: "btn btn-primary"%>
            </div>
            <%end%>
          </div>
        </div>
      </div>
      <%end%>



      <div class="fader hide" id="pick_up_fader" data-fader="1">
        <div class="img_layer">
          <img class="min_image" src="/images/puppy_cut.jpg">
          <img class="min_image" src="/images/pag_cut.jpg">
          <img class="min_image" src="/images/puppy_cut.jpg">
          <img class="min_image" src="/images/pag_cut.jpg">
        </div>
        <div class="img_layer">
          <img class="min_image" src="/images/pag_cut.jpg">
          <img class="min_image" src="/images/puppy_cut.jpg">
          <img class="min_image" src="/images/pag_cut.jpg">
          <img class="min_image" src="/images/puppy_cut.jpg">
        </div>

      </div>

      <div class="fader hide" id="shop_fader" data-fader="2">
        <div class="icon_layer">
          <a href="#">
            <i class="fas fa-bone fa-5x"></i>
            Foods
          </a>
          <a href="#">
            <i class="fas fa-cut fa-5x"></i>
            Groomers
          </a>
          <a href="#">
            <i class="fas fa-tshirt fa-5x"></i>
            Clothes
          </a>
          <a href="#">
            <i class="fas fa-baseball-ball fa-5x"></i>
            Toys
          </a>
        </div>

      </div>

    </div>
