<div class="usersLogin">
  <div class="footer_modifier">
    <div class="register-form">
      <div class="input-form">
        <img class="doggy_logo" src="/assets/sakamaki_logo_black3.png">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.text_field :email, class: "form-control", id: "exampleInputEmail1", autocomplete: "email", placeholder: "Email"%>
        </div>
        <div class="form-group">
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control", id: "exampleInputPassword1", placeholder: "password"%>

        </div>
        <%= f.submit class: "btn btn-primary login", value: "ログイン"%>
        <%end%>
        <div class="mataha">
          ---------------<span>または</span>---------------
        </div>
        <a href="#" class="facebook_a">
          <div class="facebook-login">
            <img class="facebook_logo" src="/assets/f_log.png">
            Facebookでログイン
          </div>
          パスワードを忘れた場合

        </a>
      </div>
    </div>



    <div class="change-form_register">
      <p>
        アカウントをお持ちではないですか？
      </p>
      <a href="#">
        登録
      </a>

    </div>
  </div>
  <%= render partial: "footer"%>
</div>
