<div class="posts__puttogether " data-id="<%=id%>">
  <div class="post__maincontent-posts">
    <div class="post__maincontent-posts-title">
      <%unless post.user.avatar.attached?%>
      <i class="fas fa-user-circle fa-2x"></i>
      <%else%>
      <%= image_tag post.user.avatar.variant(combine_options:{resize:"32x32^",crop:"32x32+0+0",gravity: :center}).processed, class: "avatar-large"%>
      <%end%>
      <%=link_to "#{post.user.name}", user_path(post.user.id), class: "user_name"%>
      <div class="fas-modifier">
        <a href="#" role="button" id="dropdownMenuLink<%=id%>" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink<%=id%>">
          <%=link_to "詳細", post_path(post.id), class: "dropdown-item"%>
          <%=link_to "削除", "/posts/#{post.id}", class: "dropdown-item",method: :delete%>
        </div>
      </div>
    </div>
    <div class="post__maincontent-posts-image">
      <div id="carouselExampleControls<%=id%>" class="carousel slide">

        <div class="carousel-inner">
          <%post.images.each_with_index do |image,index|%>
          <%if index == 0%>
          <div class="carousel-item active">
            <%=image_tag(image,class: "d-block w-100")%>
          </div>
          <%else%>
          <div class="carousel-item">
            <%=image_tag(image,class: "d-block w-100")%>
          </div>
          <%end%>
          <%end%>
        </div>
        <%if post.images.length >= 2%>
        <a class="carousel-control-prev" href="#carouselExampleControls<%=id%>" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">前へ</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls<%=id%>" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">次へ</span>
        </a>
        <%end%>
      </div>
    </div>
    <div class="post__maincontent-posts-icons">
      <a href="#" class="post__maincontent-posts-icons-a"><i class="far fa-heart fa-2x"></i></a><span>12</span>
      <a href="#" class="post__maincontent-posts-icons-a"><i class="far fa-comment fa-2x"></i></a><span>12</span>
    </div>
    <div class="post__maincontent-posts-text">
      <%=post.text[0,12]%>.....<a href="#" class="tuzuki" data-id="<%=id%>">続きを読む</a>
    </div>
    <div class="post__maincontent-posts-commentform">
      <input placeholder="コメントを入力...."></input>
    </div>

  </div>



  <div class="post__maincontent-posts hide">
    <div class="post__maincontent-posts-title">
      <%unless post.user.avatar.attached?%>
      <i class="fas fa-user-circle fa-2x"></i>
      <%else%>
      <%= image_tag post.user.avatar.variant(combine_options:{resize:"32x32^",crop:"32x32+0+0",gravity: :center}).processed, class: "avatar-large"%>
      <%end%>
      <%=link_to "#{post.user.name}", user_path(post.user.id), class: "user_name"%>
      <div class="fas-modifier">
        <a href="#" role="button" id="dropdownMenuLink<%=id%>" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink<%=id%>">
          <%=link_to "詳細", post_path(post.id), class: "dropdown-item"%>
          <%=link_to "削除", "/posts/#{post.id}", class: "dropdown-item",method: :delete%>
          <a class="dropdown-item" href="#">削除</a>
        </div>
      </div>
    </div>
    <div class="post__maincontent-posts-image">
      <div id="carouselExampleControls<%=id%>h" class="carousel slide">

        <div class="carousel-inner">
          <%post.images.each_with_index do |image,index|%>
          <%if index == 0%>
          <div class="carousel-item active">
            <%=image_tag(image,class: "d-block w-100")%>
          </div>
          <%else%>
          <div class="carousel-item">
            <%=image_tag(image,class: "d-block w-100")%>
          </div>
          <%end%>
          <%end%>
        </div>
        <%if post.images.length >= 2%>
        <a class="carousel-control-prev" href="#carouselExampleControls<%=id%>h" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">前へ</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls<%=id%>h" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">次へ</span>
        </a>
        <%end%>
      </div>
    </div>
    <div class="post__maincontent-posts-icons">
      <a href="#" class="post__maincontent-posts-icons-a"><i class="far fa-heart fa-2x"></i></a><span>12</span>
      <a href="#" class="post__maincontent-posts-icons-a"><i class="far fa-comment fa-2x"></i></a><span>12</span>
    </div>
    <div class="post__maincontent-posts-text">
      <%=simple_format(post.text)%>
      <div class="post__maincontent-posts-hash">
        <%post.tags.each do |tag|%>
        <a href="#">#<%=tag%></a>
        <%end%>
      </div>
    </div>
    <div class="post__maincontent-posts-comments">
      <div class="post__maincontent-posts-comments-comment">
        <div class="post__maincontent-posts-comments-comment-user">
          <i class="fas fa-user-circle fa-2x"></i>
          <a class="user_name" href="#">User_name</a>
        </div>
        <div class="post__maincontent-posts-comments-comment-text">
          かわいい
        </div>
      </div>
      <div class="post__maincontent-posts-comments-comment">
        <div class="post__maincontent-posts-comments-comment-user">
          <i class="fas fa-user-circle fa-2x"></i>
          <a class="user_name" href="#">User_name</a>
        </div>
        <div class="post__maincontent-posts-comments-comment-text">
          かわいい
        </div>
      </div>
      <div class="post__maincontent-posts-comments-comment">
        <div class="post__maincontent-posts-comments-comment-user">
          <i class="fas fa-user-circle fa-2x"></i>
          <a class="user_name" href="#">User_name</a>
        </div>
        <div class="post__maincontent-posts-comments-comment-text">
          かわいい
        </div>
      </div>
      <div class="post__maincontent-posts-comments-comment">
        <div class="post__maincontent-posts-comments-comment-user">
          <i class="fas fa-user-circle fa-2x"></i>
          <a class="user_name" href="#">User_name</a>
        </div>
        <div class="post__maincontent-posts-comments-comment-text">
          かわいい
        </div>
      </div>
    </div>
    <a href="#" class="oritatamu" data-id="<%=id%>">...おりたたむ</a>
    <div class="post__maincontent-posts-commentform">
      <input placeholder="コメントを入力...."></input>
    </div>

  </div>
</div>
